<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="vi">
<head th:replace="fragments::header('Đổi mật khẩu - The tech')">
</head>
<body>
<div th:replace="fragments::menu">
</div>

<div>
    <h3 class="text-center m-4 p-2 border-bottom border-warning">Đổi Mật Khẩu</h3>
</div>
<br>
<div th:if="${error} != null">
    <div class=" text-center alert alert-danger" >
        <strong>[[${error}]]</strong>
    </div>
</div>
<div th:if="${message} != null">
    <div class=" text-center alert alert-info" >
        <strong>[[${message}]]</strong>
    </div>
</div>
<br>
<div class="container-fluid shadow-lg p-4" style="width: 700px">
<form th:action="@{/forgot_password}" method="post">
    <div class="">
        <p class="text-center font-italic">Chúng tôi sẽ phản hồi yêu cầu đặt lại mật khẩu qua Email của bạn.</p>
    </div>
    <br>
    <div>
        <p>
            <input placeholder="Nhập Email" type="email" name="email" class="form-control" required autofocus="autofocus"/>
        </p>
    </div>
    <button class="btn btn-outline-info justify-content-center">Gửi</button>
</form>
</div>
<br>
<div th:replace="fragments::footer_menu"></div>
<br>
<script type="text/javascript">
    $(document).ready(()=>{
        $("#log_out").on('click',(e)=>{
            e.preventDefault();
            document.logoutForm.submit();

        })
    })
</script>
</body>
<footer th:replace="fragments::footer(${COPYRIGHT})"></footer>
</html>