<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="vi">
<head th:replace="fragments::header('TheTech')">
</head>
<body>
<div th:replace="fragments::menu">
</div>
<br>
<div th:if="${message} != null">
    <div class=" text-center alert alert-danger" >
        <strong>[[${message}]]</strong>
    </div>
</div>
<br>
<br>
<br>

<br>
<div th:replace="fragments::footer_menu"></div>
<br>
</body>
<footer th:replace="fragments::footer(${COPYRIGHT})"></footer>
</html>