<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="vi">
<head th:replace="fragments::header('Đổi mật khẩu - The tech')">
</head>
<body>
<div th:replace="fragments::menu">
</div>

<div>
    <h3 class="text-center m-4 p-2 border-bottom border-warning">Đổi Mật Khẩu</h3>
</div>
<br>
<br>
<div class="container-fluid shadow-lg p-4" style="width: 700px">
<form th:action="@{/reset_password}" method="post">
    <input type="hidden" name="token" th:value="${token}"/>
    <br>
    <div>
        <p>
            <input minlength="6" maxlength="15" placeholder="Nhập mật khẩu mới"
                  id="password" oninput="checkPasswordMatch(document.getElementById('retyping_password'))" type="text" name="password" class="form-control" required autofocus="autofocus"/>
        </p>
        <p>
            <input minlength="6" maxlength="15" placeholder="Nhập lại mật khẩu"
                   oninput="checkPasswordMatch(this)" type="text" id="retyping_password" class="form-control" required autofocus="autofocus"/>
        </p>
    </div>
    <button class="btn btn-outline-info justify-content-center">Gửi</button>
</form>
</div>
<br>
<div th:replace="fragments::footer_menu"></div>
<br>
<script type="text/javascript">
    $(document).ready(()=>{
        $("#log_out").on('click',(e)=>{
            e.preventDefault();
            document.logoutForm.submit();

        })
    })
    const checkPasswordMatch = (confirmPassword)=>{
        if(confirmPassword.value!= $('#password').val()){
            confirmPassword.setCustomValidity("Mật khẩu giữa 2 lần không khớp!")
        }else confirmPassword.setCustomValidity('');
    }
</script>
</body>
<footer th:replace="fragments::footer(${COPYRIGHT})"></footer>
</html>