<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="vi">
<head th:replace="fragments::header('TheTech')">
</head>
<body>
<div th:replace="fragments::menu">
</div>
<div th:replace="fragments :: search_nav"></div>
<br>
<div class="text-center m-4 text-white bg-success py-1">
    <h3>Thanh Toán</h3>
</div>
<br>
<div class="row m-1">
    <div class="col-sm-8">
        <div class="card m-3">
            <div class="card-header">
                <h3>Thông Tin Vận Chuyển</h3>
            </div>
            <div class="card-body">
                <p th:if="${shippingAddressDefault!=null}">
                    <b>Vận chuyển tới: </b>[[${shippingAddressDefault.address}]]
                </p>
                <p th:unless="${shippingAddressDefault!=null}">
                    <b>Vận chuyển tới: </b>[[${shippingAddressCustomer}]]
                </p>
                <a th:href="@{/address_book}" class="btn btn-outline-danger">Đổi địa chỉ vận chuyển</a>
                <p class="mt-3">
                    <b>Số ngày vận chuyển: </b>[[${checkoutInfo.deliverDays}]] ngày
                </p>
                <p>
                    <b>Ngày nhận hàng dự kiến: </b>[[${#dates.format(checkoutInfo.deliverDate,
                    'E, dd-MM-yyyy')}]]
                </p>
            </div>
        </div>

        <div class="card m-3">
            <div class="card-header">
                <h3>Phương thức thanh toán</h3>
            </div>
            <div class="card-body">
                <div th:if="${checkoutInfo.codSupported}">
                    <form th:action="@{/place_order}" method="post">
                    <p>
                        <input type="radio" name="paymentMethod" id="radioCOD" value="COD" class="mb-3"/> Thanh Toán Khi Nhận Hàng (COD)<br>
                        <button class="btn btn-outline-success d-none" id="buttonSubmit">Đặt hàng với phương thức COD</button>
                    </p>
                    </form>
                </div>
                <div id="paypal-button-container"></div>
                <form th:action="@{/process_paypal_order}" method="post" id="paypalForm">
                    <input type="hidden" name="orderId" id="orderId"/>
                    <input type="hidden" name="paymentMethod" value="PAYPAL"/>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card m-3">
            <div class="card-header">
                <h3>Đơn Hàng</h3>
            </div>
            <div class="card-body">
                <div>
                    <table>
                    <th:block class="m-3" th:each="item :${cartItems}">
                        <tr class="m-2 p-2 shadow-sm"
                            th:with="product =${item.product}">
                            <td width="70%">
                                <a th:href="@{'/p/'+ ${product.alias}}" target="_blank">
                                    [[${product.shortName}]]</a>
                            </td>
                            <td  th:if="(${CURRENCY_SYMBOL_POSITION} == 'before')">
                                <p class="font-italic font-weight-bold">Số lượng: [[${item.quantity}]]</p>
                                <small>Phí ship:
                                    [[${CURRENCY_SYMBOL}]] [[${#numbers.formatDecimal(item.shippingCost,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]</small>
                                Tổng:
                                [[${CURRENCY_SYMBOL}]] [[${#numbers.formatDecimal(item.subTotal,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]

                            </td>
                            <td  th:if="(${CURRENCY_SYMBOL_POSITION} == 'after')">
                                <p class="font-italic font-weight-bold">Số lượng: [[${item.quantity}]]</p>
                                <small>Phí ship:
                                    [[${#numbers.formatDecimal(item.shippingCost,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]] [[${CURRENCY_SYMBOL}]] </small>
                                Tổng:
                                [[${#numbers.formatDecimal(item.subTotal,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]] [[${CURRENCY_SYMBOL}]]

                            </td>


                        </tr>
                    </th:block>
                        <tr><td colspan="3"><hr/></td> </tr>
                    </table>
                </div>
                <div></div>
                <div class="row mt-2">
                    <div class="col font-weight-bold text-info">Tổng tiền sản phẩm:</div>
                    <div class="col">
                        <p th:if="(${CURRENCY_SYMBOL_POSITION} == 'before')"> [[${CURRENCY_SYMBOL}]]
                            [[${#numbers.formatDecimal(checkoutInfo.productTotal,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]</p>
                        <p th:if="(${CURRENCY_SYMBOL_POSITION} == 'after')">
                            [[${#numbers.formatDecimal(checkoutInfo.productTotal,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]] [[${CURRENCY_SYMBOL}]]</p>

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col font-weight-bold text-info">Tổng phí ship:</div>
                    <div class="col">
                        <p th:if="(${CURRENCY_SYMBOL_POSITION} == 'before')"> [[${CURRENCY_SYMBOL}]]
                            [[${#numbers.formatDecimal(checkoutInfo.shippingCostTotal,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]</p>
                        <p th:if="(${CURRENCY_SYMBOL_POSITION} == 'after')">
                            [[${#numbers.formatDecimal(checkoutInfo.shippingCostTotal,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]] [[${CURRENCY_SYMBOL}]]</p>

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col font-weight-bold text-info">Tổng sản phẩm:</div>
                    <div class="col">
                        <p th:if="(${CURRENCY_SYMBOL_POSITION} == 'before')"> [[${CURRENCY_SYMBOL}]]
                            [[${#numbers.formatDecimal(checkoutInfo.paymentTotal,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]</p>
                        <p th:if="(${CURRENCY_SYMBOL_POSITION} == 'after')">
                            [[${#numbers.formatDecimal(checkoutInfo.paymentTotal,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]] [[${CURRENCY_SYMBOL}]]</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments::footer_menu"></div>
<div th:replace="modal_fragments::modal_dialog"></div>
<script th:src="@{https://www.paypal.com/sdk/js(client-id=${paypalClientId},currency=${currencyCode})}"></script>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
    var csrfValue = "[[${_csrf.token}]]";
    var csrfHeader = "[[${_csrf.headerName}]]";

    $(document).ready(function (){
        $('#radioCOD').click(function () {
            $('#buttonSubmit').removeClass('d-none');
        });
    });

    function validateOrder(orderId) {
        $("#orderId").val(orderId);
        $("#paypalForm").submit();
    }

    paypal.Buttons({

        enableStandardCardFields: true,
        createOrder: function(data, actions) {
            // setup a transaction
            return actions.order.create({

                intent: 'CAPTURE', // make payment immediately
                payer: {
                    name: {
                        given_name: "[[${customer.firstName}]]",
                        surname: "[[${customer.lastName}]]"
                    },

                    address: {
                        address_line_1: "[[${customer.addressLine1}]]",
                        address_line_2: "[[${customer.addressLine2}]]",
                        admin_area_1: "[[${customer.state}]]",
                        admin_area_2: "[[${customer.city}]]",
                        postal_code: "[[${customer.postalCode}]]",
                        country_code: "[[${customer.country.code}]]"
                    },

                    email_address: "[[${customer.email}]]",

                    phone: {
                        phone_type: "MOBILE",
                        phone_number: {
                            national_number: "[[${customer.phoneNumber}]]"
                        }
                    }
                },

                purchase_units: [{
                    amount: {
                        value: "[[${checkoutInfo.paymentPaypal}]]",
                        currency_code: "[[${currencyCode}]]"
                    }
                }],

                application_context: {
                    shipping_preference: "NO_SHIPPING"
                }
            });
        },
        onApprove: function (data, actions){
            return actions.order.capture().then(function(details) {
                orderId = details.id;
                validateOrder(orderId);
            });
        },
        oncancel: function (data, actions){
            // buyer cancelled payment
            alert('Payment cancelled by the buyer');
        },
        onError: function (err){
            showModalDialog("Thông báo", "Có lỗi xảy ra trong quá trình thanh toán. Vui lòng thử lại sau.");
        }
    }).render('#paypal-button-container');
    
</script>
</body>
<footer th:replace="fragments::footer(${COPYRIGHT})"></footer>
</html>